
.window-flex-outer {
  width: 100vw;
  height: 100vh;

  background-color: #ddd;
  color: #333;

  display: flex;
  flex-direction: column;
}

.window-flex-inner {
  width: 100%;
  height: 100%;

  display: flex;
}